/*Public Style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 0 70px; 
    max-width: 1400px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input {
    border: 0;
    padding-left: 20px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.btn{
    background-color: var(--pink-main-color);
    border: 0;
    padding: 10px 40px;
}
