/*Public Style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

input {
    border: 0;
    padding-left: 20px;
    font-family: "Lato", san s-serif;
    font-size: 16px;
}

ul{
    list-style-type: none;
}

.padding-y{
    padding: 50px 0;
}

.margin-bottom{
    margin-bottom: 50px;
}

.margin-top{
    margin-top: 50px;
}

.container{
    width: 100%;
    padding: 0 70px; 
    max-width: 1400px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: var(--pink-main-color);
    border: 0;
    padding: 10px 40px;
    color: var(--primary-background-color);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2%;
}
