:root{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    --list-item-picked-color: #FB2E86;
    --list-item-color: #0D0E43;
    --button-color: #FB2E86;
    --form-border-color: #E7E6EF;
    --primary-background-color: white;
    --secondary-background-color:#EEEFFB; 
    --footer-text-color: #8A8FB9;
}
/*
--------------------------------------------
Start header
--------------------------------------------
*/

.header{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 25px 0;
    background-color: var(--primary-background-color);
}

.header ul,
.footer .list ul{
    list-style-type: none;
}

.header .list li a{
    color: var(--list-item-color);
}

#home-list-item{
    color: var(--list-item-picked-color);
}

.header .list ul{
    display: flex;
    gap: 35px;
}

.header .list a,
.footer .list a{
    transition: 1s;
}

.header .list a:hover,
.footer .list a:hover{
    color: var(--list-item-picked-color);
}

.header form,
.footer .left-side form{
    display: flex;
    border: 2px solid var(--form-border-color);
}

.header input{
    width: 266px;
}

.header .form img{
    width: 24px;
    height: 24px;
}

.header .menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:1100px) {
    .container{
        padding: 0 30px; 
    }

    .header .list,
    .header .form{
        display: none;
    }

    .header .menu{
        display: block;
    }    
}
/* End header */

.data{
    padding: 100px 0;
}

/*
--------------------------------------------
Start footer
--------------------------------------------
*/

.footer{
    background-color: var(--secondary-background-color);
    padding: 100px 0;
}

.footer .row{
    align-items: flex-start;
    gap: 30px
}

.footer .left-side{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: calc( (100% - 30px) / ( 8 / 3 ) );
}

.footer .left-side form{
    gap: 0;
    border-radius: 3px;
    background-color: var(--primary-background-color);
}

.footer .left-side form input{
    border-radius: 3px;
    padding: 15px 20px;
    width: 240px;
}


.footer .left-side form input::placeholder{
    color: #8A8FB9;
}

.footer .left-side .form button{
    color: var(--secondary-background-color);
    border-radius: 3px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 3px;
}

.footer .left-side .address{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .left-side .address h2, 
.footer .left-side .address p
{
    font-size: 16px;
    color: var(--footer-text-color);
    font-weight: 400;
}

.footer .right-side{
    width: calc( (100% - 30px) / ( 8 / 5) );
}

.footer .list{
    display: flex;
    flex-direction: column;
    gap: 45px;
    flex-wrap: wrap;
}

.footer .list h2{
    font-size: 22px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.footer .list ul{
    display: flex;
    flex-direction: column;
    gap: 23.32px;
}

.footer .list li a{
    color: var(--footer-text-color);
}

@media screen and (min-width:0) and (max-width:1200px) {

    .btn{
        padding: 10px 20px;
    }

    .footer .left-side{
        width: 100%;
    }

    .footer .right-side{
        width: 100%;
    }

    .footer .left-side form input{
        padding: 7px 10px;
    }

    .footer .left-side form input{
        width: fit-content;
    }

    .footer .list{
        gap: 30px;
    }

}

/*End Footer*/