*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --list-item-picked-color: #FB2E86;
    --list-item-color: #0D0E43;
    --button-color: #FB2E86;
    --form-border-color: #E7E6EF;
}

body{
    height: 6000px;
}

a{
    text-decoration: none;
}

.header{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 25px 0;
}

.header ul{
    list-style-type: none;
}

.list li a{
    color: var(--list-item-color);
}

#home-list-item{
    color: var(--list-item-picked-color);
}

.container{
    width: 100%;
    padding: 0 70px; 
    max-width: 1400px;
    margin: 0 auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list ul{
    display: flex;
    gap: 35px;
}

.header form{
    display: flex;
    border: 2px solid var(--form-border-color);
}

.header button{
    background-color: var(--button-color);
    padding: 8px 13px;
    border: 0;
}

.header input{
    border: 0;
    padding-left: 5px;
    width: 266px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.header .form img{
    width: 24px;
    height: 24px;
}

.header .list a{
    transition: 1s;
}

.header .list a:hover{
    color: var(--list-item-picked-color);
}

.header .menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:1100px) {
    .header .list,
    .header .form{
        display: none;
    }

    .header .menu{
        display: block;
    }

    .container{
        padding: 0 30px; 
    }
}