:root{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    --pink-main-color: #FB2E86;
    --list-item-color: #0D0E43;
    --form-border-color: #E7E6EF;
    --primary-background-color: white;
    --secondary-background-color:#EEEFFB; 
    --footer-text-color: #8A8FB9;
    --text-color: #151875;
    --h2-color: #1A0B5B;
    --product-card-img-background-color: #F6F7FB;
    --hero-bg-color: #F2F0FF;
    --card-hover-color: #2F1AC4;
    --latest-card-bg-color: #F7F7F7;
    --old-price-color: #FB2448;
    --ofer-info-color: rgba(26, 11, 91, 0.3);
    --trending-card-img-bg: #F5F6F8;
}
/*
--------------------------------------------
Start header
--------------------------------------------
*/

.header{
    position: sticky;
    width: 100%;
    top: 0;
    padding: 25px 0;
    background-color: var(--primary-background-color);
    z-index: 9999;
}

.header ul,
.footer .list ul{
    list-style-type: none;
}

.header .list li a{
    color: var(--list-item-color);
}

#home-list-item{
    color: var(--pink-main-color);
}

.header .list ul{
    display: flex;
    gap: 35px;
}

.header .list a,
.footer .list a{
    transition: 1s;
}

.header .list a:hover,
.footer .list a:hover{
    color: var(--pink-main-color);
}

.header form,
.footer .left-side form{
    display: flex;
    border: 2px solid var(--form-border-color);
}

.header input{
    width: 266px;
}

.header .form img{
    width: 24px;
    height: 24px;
}

.header .form button{
    padding: 8px 13px;
}

.header .menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:1100px) {
    .container{
        padding: 0 30px; 
    }

    .header .list,
    .header .form{
        display: none;
    }

    .header .menu{
        display: block;
    }    
}
/* End header */

/*
--------------------------------------------
Start Hero Section
--------------------------------------------
*/

.hero{
    background-color: var(--hero-bg-color);
    padding: 40px 0;
}

.hero .row{
    justify-content: center;
    gap: 80px;
    align-items: center;
}


.hero .right, .hero .left{
    flex-basis:300px;
    flex-grow: 1;
}

.hero .left .col{
    gap: 35px;
}

.hero .left .info .title{
    font-family: "Josefin Sans", sans-serif;
    width: fit-content;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1.5%;
    line-height: 170.5%;
}

.hero .left .info .advert{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--pink-main-color);
    padding-bottom: 12px;
}

.hero .left .info .about{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--footer-text-color);
}

.hero .left .col button{
    width: fit-content;
}

.hero .right .image{
    max-height: 550px;
}

.hero .right .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:750px) {
    .hero .right{
        flex-basis:400px;
        flex-grow: 0;
    }

    .hero .right .image{
        max-height: 450px;
    }
}

@media screen and (min-width:501px) and (max-width: 800px) {
    .hero .left .info .title{
        font-size: 30px;
    }

    .hero .left .info .advert{
        font-size: 12px;
    }

    .hero .left .info .about{
        font-size: 15px;
    }

    .hero .left .col .btn{
        font-size: 15px;
    }
}

@media screen and (min-width:0) and (max-width: 500px) {
    .hero .left .info .title{
        font-size: 22px;
    }

    .hero .left .info .advert{
        font-size: 10px;
    }

    .hero .left .info .about{
        font-size: 13px;
    }

    .hero .left .col .btn{
        font-size: 13px;
    }
}

/* End Hero Section */

/*
--------------------------------------------
Start featured products Section
--------------------------------------------
*/

.featuredProducts .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.featuredProducts .container h2, 
.latest-products .container h2,
.shopex-offers .col h2,
.trending-products h2,
.top-categories h2,
.latest-blog h2{
    font-size: 42px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: var(--h2-color);
}

.featuredProducts .products{
    width: 100%;
}

.featuredProducts .products .row{
    justify-content: center;
    gap: 30px;
}

.featuredProducts .products .product{
    width: calc((100% - 90px) / 4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.featuredProducts .products .product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 236px;
    background-color: var(--product-card-img-background-color);
    position: relative;
}

.featuredProducts .products .product-img .cart-love-more-buttons{
    position: absolute;
    top: 18px;
    left: 16px;
    display: flex;
    gap: 16px;
    opacity: 0;
    transition: .2s;
}

.featuredProducts .products .product-img .cart-love-more-buttons button{
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.featuredProducts .products .product-img .cart-love-more-buttons .cart{
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    padding: 7px 6px 4px 5px;
    width: 30px;
    height: 30px;
}

.featuredProducts .products .product-img .cart-love-more-buttons .cart img{
    height: 19px;
    width: 19px;
}

.featuredProducts .products .product-img .cart-love-more-buttons .love img{
    height: 17px;
    width: 17px;
}

.featuredProducts .products .product-img .cart-love-more-buttons .plus img{
    height: 15px;
    width: 15px;
}

.featuredProducts .products .product-img .view-details-btn{
    background-color: #08D15F;
    padding: 8px 13px;
    border: 0;
    color: var(--primary-background-color);
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition: .2s;
}

.featuredProducts .products .product-img .view-details-btn:hover{
    background-color: #07ab4e;
}

.featuredProducts .products .product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
    transition: .2s;
    color: var(--text-color);
}

.featuredProducts .products .product-details h3{
    color: var(--pink-main-color);
    padding-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.featuredProducts .products .product-colors{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.featuredProducts .product-colors .btn-color{
    height: 4px;
    width: 14px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

.featuredProducts .product-colors .color1{
    background-color: #05E6B7;
}

.featuredProducts .product-colors .color2{
    background-color: #F701A8;
}

.featuredProducts .product-colors .color3{
    background-color: #00009D;
}

.featuredProducts .products .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: var(--text-color);
    font-size: 14px;
    padding-bottom: 17px;
}

.featuredProducts .products .product-info .product-code{
    font-family: "Josefin Sans", sans-serif;
}


.featuredProducts .products .product:hover .product-details{
    background-color: var(--card-hover-color);
    color: var(--primary-background-color);
}

.featuredProducts .products .product:hover .product-details h3{
    color: var(--primary-background-color);
}

.featuredProducts .products .product:hover .product-details .product-colors .color3{
    background-color: #FFEAC1;
}

.featuredProducts .products .product:hover .product-details .product-info{
    color: var(--primary-background-color);
}

.featuredProducts .products .product:hover .product-img .cart-love-more-buttons{
    opacity: 1;
}

.featuredProducts .products .product:hover .product-img .view-details-btn{
    opacity: 1;
}

@media screen and (min-width:801px) and (max-width: 1000px) {
    .featuredProducts .products .product{
        width: calc((100% - 60px) / 3);
    }

}

@media screen and (min-width:501px) and (max-width: 800px) {
    .featuredProducts .products .row{
        gap: 25px;
    }

    .featuredProducts .products .product{
        width: calc((100% - 25px) / 2);
    }

    .featuredProducts .container h2, 
    .latest-products .container h2,
    .shopex-offers .col h2,
    .trending-products h2,
    .top-categories h2,
    .latest-blog h2{
        font-size: 33px;
    }
}

@media screen and (min-width:0) and (max-width: 500px) {

    .featuredProducts .products .row{
        gap: 20px;
    }

    .featuredProducts .products .product{
        width: 100%;
    }

    .featuredProducts .container h2,
    .latest-products .container h2,
    .shopex-offers .col h2,
    .trending-products h2,
    .top-categories h2,
    .latest-blog h2{
        font-size: 26px;
    }
}

/*end featured product section*/


/*
--------------------------------------------
Start latest products Section
--------------------------------------------
*/

.latest-products .col{
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.latest-products .products-lists {
   display: flex;
   flex-direction: column;
   gap:60px;
   justify-content: center;
   align-items: center;
}

.latest-products .products-lists .products .row{ 
   justify-content: center;
   align-items: center;
   flex: 1 0 250px;
   row-gap: 80px;
   column-gap: 37px;
}  

.latest-products .products-lists ul{
    display: flex;
    gap: 60px;
    color: var(--text-color);
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.latest-products .products-lists ul .picked a{
    text-decoration: underline;
    color: var(--pink-main-color);
}

.latest-products .products-lists ul .picked:hover a{
    text-decoration: underline;
    color: var(--text-color);
}

.latest-products .products-lists ul li:hover a{
    color: var(--pink-main-color);
}

.latest-products .products .product .col{
    gap: 15.5px;
}

.latest-products .products .product .product-img-container{
    width: 100%;
    position: relative;
    height: 250px;
    background-color: var(--latest-card-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-products .products .product .product-img-container .product-img{
    height: 100%;
}

.latest-products .products .product:hover .product-img-container .product-img{
    border: 1px solid;
    transition: .2s;
}

.latest-products .products .product:hover .product-img-container{
    background-color: var(--primary-background-color);
}

.latest-products .products .product .product-img-container .cart-love-more-buttons{
    position: absolute;
    display: flex;
    gap: 16px;
    left: 15px;
    bottom: 38px;
    opacity: 0;
    transition: .2s;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.latest-products .products .product:hover .product-img-container .cart-love-more-buttons{
    opacity: 1;
}

.latest-products .products .product .product-img-container .cart-love-more-buttons button{
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.latest-products .products .product .product-img-container .cart-love-more-buttons .cart{
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    padding: 7px 6px 4px 5px;
    width: 30px;
    height: 30px;
}

.latest-products .products .product .product-img-container .cart-love-more-buttons .cart img{
    height: 19px;
    width: 19px;
}

.latest-products .products .product .product-img-container .cart-love-more-buttons .love img{
    height: 17px;
    width: 17px;
}

.latest-products .products .product .product-img-container .cart-love-more-buttons .plus img{
    height: 15px;
    width: 15px;
}

.latest-products .products .product .product-img-container .sale-img{
    position: absolute;
    top: -1px;
    left: -30px;
    opacity: 0;
    transition: 0.2s;
}

.latest-products .products .product:hover .product-img-container .sale-img{
    opacity: 1;
}

.latest-products .products .product .product-details{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

.latest-products .products .product .product-details .row{
    justify-content: space-between;
    align-items: center;
}

.latest-products .products .product .product-details .product-name {
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.latest-products .products .product .product-details .product-name h3{
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.latest-products .products .product .product-details .product-name h3::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--secondary-background-color);
    display: block;
    position: absolute;
    bottom: -4px;
}


.latest-products .products .product .product-details .product-price .new-price{
    font-size: 14px;
}

.latest-products .products .product .product-details .product-price .old-price{
    font-size: 12px;
    text-decoration: line-through;
    color: var(--old-price-color);
    margin-right: 10px;
}

@media screen and (min-width:501px) and (max-width: 800px) {
    .featuredProducts .products .row{
        gap: 25px;
    }

    .featuredProducts .products .product{
        width: calc((100% - 25px) / 2);
    }

    .featuredProducts .container h2, .latest-products .container h2{
        font-size: 33px;
    }

    .latest-products .products-lists .products .row {
        row-gap: 40px;
    }

    .latest-products .products-lists ul{
        font-size: 16px;
    }

    .latest-products .products-lists {
        gap:40px
    }
}

@media screen and (min-width:0) and (max-width: 500px) {

    .latest-products .products-lists .products .row {
        row-gap: 30px;
        column-gap: 0;
    }

    .latest-products .products .product .product-img-container {
        height: 200px;
    }

    .latest-products .products-lists ul{
        font-size: 14px;
    }

    .latest-products .products-lists {
        gap:30px
    }
}

/*end latest products Section*/

/*
--------------------------------------------
Start shopex offers Section
--------------------------------------------
*/

.shopex-offers .col{
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.shopex-offers .offers .row{
    justify-content: center;
    gap: 28px;
}

.shopex-offers .offers .offer {
    text-align: center;
    box-shadow: 0 8px 40px rgba(49, 32, 138, 0.05);
    padding: 50px 26px;
    flex: 1 0 290px;
}

.shopex-offers .offers .offer .col{
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--text-color);
}

.shopex-offers .offers .offer .icon{
    height: 65px;
}

.shopex-offers .offers .offer .offer-name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.shopex-offers .offers .offer .offer-info{
    font-size: 16px;
    font-weight: 700;
    color: var(--ofer-info-color);
}


/*end shopex offers Section*/

/*
--------------------------------------------
Start trending products Section
--------------------------------------------
*/

.trending-products .col{
    justify-content: center;
    align-items: center;
    gap: 39px;
}

.trending-products .products .product{
    flex: 1 0 250px;
    text-align: center;
    box-shadow: 0 8px 40px rgba(49, 32, 138, 0.05);
    padding: 11px;
    padding-bottom: 32px;
}

.trending-products .products .product:hover{
    background-color: var(--card-hover-color);
    color: var(--primary-background-color);
}

.trending-products .products .row{
    justify-content: center;
    gap: 29px;
}

.trending-products .products .product .col{
    gap: 15px;
}

.trending-products .products .product .product-img{
    background-color: var(--trending-card-img-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.trending-products .products .product .product-img img{
    height: 187px;
}

.trending-products .products .product .product-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color);
}

.trending-products .products .product .product-details .product-name{
    font-size: 16px;
    font-weight: 700;
}

.trending-products .products .product .product-details .product-price{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
}

.trending-products .products .product .product-details .product-price .new-price{
    font-size: 14px;
}

.trending-products .products .product .product-details .product-price .old-price{
    font-size: 12px;
    text-decoration: line-through;
    color: rgba(21, 24, 117, 0.3);
}

.trending-products .products .product:hover .product-details .product-price .old-price{
    color: rgba(167, 167, 230, 0.878);
}


/*end trending products Section*/

/*
--------------------------------------------
Start top categories Section
--------------------------------------------
*/

.top-categories .col{
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.top-categories .products .row{
    justify-content: center;
    gap: 39px;
}

.top-categories .products .product{
    flex: 1 0 250px;
}

.top-categories .products .product .col{
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.top-categories .products .product .product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px;
    background-color: var(--product-card-img-background-color);
    border-radius: 50%;
    box-shadow: 0 8px 40px rgba(49, 32, 138, 0.05);
}

.top-categories .products .product:hover .product-img{
    box-shadow: -6px 8px 0px rgb(131, 111, 232);
}

.top-categories .products .product .product-img img{
    max-height: 178px;
}

.top-categories .products .product .view-shop{
   position: absolute;
   bottom: 30px;
   padding: 8px 18px;
   color: var(--primary-background-color);
   background-color: #08D15F;
   border: 0;
   border-radius: 2px;
   opacity: 0;
   transition: .2s;
}

.top-categories .products .product:hover .view-shop{
   opacity: 1;
}

.top-categories .products .product .product-details{
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

.top-categories .products .product .product-details .product-name{
    font-size: 20px;
    font-weight: 400;
}

.top-categories .products .product .product-details .product-price{
    font-size: 16px;
}



/*end top categories Section*/

/*
--------------------------------------------
Start Background Section
--------------------------------------------
*/

.backgroundSection{
    background-image: url(./../images/Rectangle102.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    background-color: #0D0E43;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.backgroundSectionContent{
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.backgroundSectionContent h3{
    font-size: 35px;
    color: var(--text-color);
    font-weight: 700;
    line-height: 155%;
}

.backgroundSectionContent .btn{
    font-family: "Josefin Sans", sans-serif;
    color: var(--secondary-background-color);
    width: fit-content;
    font-size: 17px;
}

@media screen and (min-width:0) and (max-width:800px) {

    .backgroundSectionContent h3{
        font-size: 22px;
        line-height: 120%;
    }

    .backgroundSectionContent .btn{
        font-size: 16px;
    }

}

@media screen and (min-width:801px) and (max-width:1200px) {

    .backgroundSectionContent h3{
        font-size: 27px;
        line-height: 125%;
    }
}


/*End background section*/


/*
--------------------------------------------
Start Blog Section
--------------------------------------------
*/

.latest-blog .col{
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.latest-blog .blogs .row{
    justify-content: center;
    gap: 56px;
}

.latest-blog .blogs .blog{
    box-shadow: 0 8px 40px rgba(49, 32, 138, 0.05);
    flex: 1 0 300px;
}

.latest-blog .blogs .blog .col{
    gap: 20px;
}

.latest-blog .blogs .blog .blog-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.latest-blog .blogs .blog .blog-details {
    padding: 19px 19px 35px 19px;
    color: var(--text-color);
}


.latest-blog .blogs .blog .blog-details .col{
    gap: 31px;
    align-items: flex-start;
}

.latest-blog .blogs .blog .blog-details .blogAthurDate{
    display: flex;
    gap: 29px;
}

.latest-blog .blogs .blog .blog-details .blogAthurDate .author,
.latest-blog .blogs .blog .blog-details .blogAthurDate .date{
    display: flex;
    gap:4px;
    align-items: center;
    justify-content: center;
}

.latest-blog .blogs .blog .blog-details .blogAthurDate .author img,
.latest-blog .blogs .blog .blog-details .blogAthurDate .date img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
}

.latest-blog .blogs .blog .blog-details .blog-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.latest-blog .blogs .blog .blog-details .blog-info .blog-name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.latest-blog .blogs .blog:hover .blog-details .blog-info .blog-name{
    color: var(--pink-main-color);
}

.latest-blog .blogs .blog .blog-details .blog-info .blog-brief{
    font-size: 16px;
    font-weight: 400;
    color: #72718F;
}

.latest-blog .blogs .blog .blog-details .blog-info .read-more{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.latest-blog .blogs .blog:hover .blog-details .blog-info .read-more{
    color: var(--pink-main-color);
}

@media screen and (min-width:0) and (max-width:500px) {
    .latest-blog .col {
        gap: 40px;
    }

    .latest-blog .blogs .row {
        gap: 20px;
    }
}

@media screen and (min-width:501px) and (max-width:800px) {
    .latest-blog .col {
        gap: 50px;
    }

    .latest-blog .blogs .row {
        gap: 30px;
    }
}

/*End Blog section*/

/*
--------------------------------------------
Start footer
--------------------------------------------
*/

.footer{
    background-color: var(--secondary-background-color);
    padding: 100px 0;
}

.footer .row{
    align-items: flex-start;
    gap: 30px
}

.footer .left-side{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: calc( (100% - 30px) / ( 8 / 3 ) );
}

.footer .left-side form{
    gap: 0;
    border-radius: 3px;
    background-color: var(--primary-background-color);
}

.footer .left-side form input{
    border-radius: 3px;
    padding: 15px 20px;
    width: 240px;
}


.footer .left-side form input::placeholder{
    color: #8A8FB9;
}

.footer .left-side .form button{
    color: var(--secondary-background-color);
    border-radius: 3px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 3px;
}

.footer .left-side .address .col{
    gap: 10px;
}

.footer .left-side .address h2, 
.footer .left-side .address p
{
    font-size: 16px;
    color: var(--footer-text-color);
    font-weight: 400;
}

.footer .right-side{
    width: calc( (100% - 30px) / ( 8 / 5) );
}

.footer .list .col{
    gap: 45px;
    flex-wrap: wrap;
}

.footer .list h2{
    font-size: 22px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.footer .list ul{
    display: flex;
    flex-direction: column;
    gap: 23.32px;
}

.footer .list li a{
    color: var(--footer-text-color);
}

@media screen and (min-width:0) and (max-width:1200px) {

    .btn{
        padding: 10px 20px;
    }

    .footer .left-side{
        width: 100%;
    }

    .footer .right-side{
        width: 100%;
    }

    .footer .left-side form input{
        padding: 7px 10px;
    }

    .footer .left-side form input{
        width: fit-content;
    }

    .footer .list{
        gap: 30px;
    }

}

@media screen and (min-width:501px) and (max-width: 800px) {
    .featuredProducts .products .row{
        gap: 25px;
    }

    .featuredProducts .products .product{
        width: calc((100% - 25px) / 2);
    }

    .featuredProducts .container h2, .latest-products .container h2{
        font-size: 33px;
    }
}

@media screen and (min-width:0) and (max-width: 500px) {
    .footer .list .col {
        gap: 20px;
    }

    input {
        font-size: 14px;
    }
    .btn {
        padding: 10px 5px;
    }

    .footer .left-side .form button {
        font-size: 12px;
    }

    .footer .left-side .address h2, .footer .left-side .address p {
        font-size: 14px;
    }

    .footer .list h2 {
        font-size: 20px;
    }

    .footer .list ul {
        font-size: 14px;
    }
}   


/*End Footer*/
