:root{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    --pink-main-color: #FB2E86;
    --list-item-color: #0D0E43;
    --form-border-color: #E7E6EF;
    --primary-background-color: white;
    --secondary-background-color:#EEEFFB; 
    --footer-text-color: #8A8FB9;
    --text-color: #151875;
    --h2-color: #1A0B5B;
    --product-card-img-background-color: #F6F7FB;
    --hero-bg-color: #F2F0FF;
}
/*
--------------------------------------------
Start header
--------------------------------------------
*/

.header{
    position: sticky;
    width: 100%;
    top: 0;
    padding: 25px 0;
    background-color: var(--primary-background-color);
}

.header ul,
.footer .list ul{
    list-style-type: none;
}

.header .list li a{
    color: var(--list-item-color);
}

#home-list-item{
    color: var(--pink-main-color);
}

.header .list ul{
    display: flex;
    gap: 35px;
}

.header .list a,
.footer .list a{
    transition: 1s;
}

.header .list a:hover,
.footer .list a:hover{
    color: var(--pink-main-color);
}

.header form,
.footer .left-side form{
    display: flex;
    border: 2px solid var(--form-border-color);
}

.header input{
    width: 266px;
}

.header .form img{
    width: 24px;
    height: 24px;
}

.header .form button{
    padding: 8px 13px;
}

.header .menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:1100px) {
    .container{
        padding: 0 30px; 
    }

    .header .list,
    .header .form{
        display: none;
    }

    .header .menu{
        display: block;
    }    
}
/* End header */

/*
--------------------------------------------
Start Hero Section
--------------------------------------------
*/

.hero{
    background-color: var(--hero-bg-color);
    padding: 40px 0;
}

.hero .row{
    justify-content: center;
    gap: 80px;
    align-items: center;
}


.hero .right, .hero .left{
    flex-basis:300px;
    flex-grow: 1;
}

.hero .left .col{
    gap: 35px;
}

.hero .left .info .title{
    font-family: "Josefin Sans", sans-serif;
    width: fit-content;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1.5%;
    line-height: 170.5%;
}

.hero .left .info .advert{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--pink-main-color);
    padding-bottom: 12px;
}

.hero .left .info .about{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--footer-text-color);
}

.hero .left .col button{
    width: fit-content;
}

.hero .right .image{
    max-height: 550px;
}

.hero .right .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:750px) {
    .hero .right{
        flex-basis:450px;
        flex-grow: 0;
    }

    .hero .right .image{
        max-height: 450px;
    }
}
/* End Hero Section */

/*
--------------------------------------------
Start featured products Section
--------------------------------------------
*/

.featuredProducts .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.featuredProducts .container h2{
    font-size: 42px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: var(--h2-color);
}

.products{
    width: 100%;
}

.products .row{
    justify-content: center;
    gap: 30px;
}

.products .product{
    width: calc((100% - 90px) / 4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.products .product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 236px;
    background-color: var(--product-card-img-background-color);
}

.products .product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}

.products .product-details h3{
    color: var(--pink-main-color);
    padding-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.products .product-colors{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.product-colors .btn-color{
    height: 4px;
    width: 14px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

.product-colors .color1{
    background-color: #05E6B7;
}

.product-colors .color2{
    background-color: #F701A8;
}

.product-colors .color3{
    background-color: #00009D;
}

.products .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: var(--text-color);
    font-size: 14px;
    padding-bottom: 17px;
}

.products .product-info .product-code{
    font-family: "Josefin Sans", sans-serif;
}

@media screen and (min-width:801px) and (max-width: 1000px) {
    .products .product{
        width: calc((100% - 60px) / 3);
    }

}

@media screen and (min-width:501px) and (max-width: 800px) {
    .products .row{
        gap: 25px;
    }

    .products .product{
        width: calc((100% - 25px) / 2);
    }
}

@media screen and (min-width:0) and (max-width: 500px) {

    .products .row{
        gap: 20px;
    }

    .products .product{
        width: 100%;
    }
}

/*end featured product section*/


/*
--------------------------------------------
Start Background Section
--------------------------------------------
*/

.backgroundSection{
    background-image: url(./../images/Rectangle102.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    background-color: #0D0E43;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.backgroundSectionContent{
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.backgroundSectionContent h3{
    font-size: 35px;
    color: var(--text-color);
    font-weight: 700;
    line-height: 155%;
}

.backgroundSectionContent .btn{
    font-family: "Josefin Sans", sans-serif;
    color: var(--secondary-background-color);
    width: fit-content;
    font-size: 17px;
}

@media screen and (min-width:0) and (max-width:800px) {

    .backgroundSectionContent h3{
        font-size: 22px;
        line-height: 120%;
    }

    .backgroundSectionContent .btn{
        font-size: 16px;
    }

}

@media screen and (min-width:801px) and (max-width:1200px) {

    .backgroundSectionContent h3{
        font-size: 27px;
        line-height: 125%;
    }
}


/*End background section*/



/*
--------------------------------------------
Start footer
--------------------------------------------
*/

.footer{
    background-color: var(--secondary-background-color);
    padding: 100px 0;
}

.footer .row{
    align-items: flex-start;
    gap: 30px
}

.footer .left-side{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: calc( (100% - 30px) / ( 8 / 3 ) );
}

.footer .left-side form{
    gap: 0;
    border-radius: 3px;
    background-color: var(--primary-background-color);
}

.footer .left-side form input{
    border-radius: 3px;
    padding: 15px 20px;
    width: 240px;
}


.footer .left-side form input::placeholder{
    color: #8A8FB9;
}

.footer .left-side .form button{
    color: var(--secondary-background-color);
    border-radius: 3px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 3px;
}

.footer .left-side .address .col{
    gap: 10px;
}

.footer .left-side .address h2, 
.footer .left-side .address p
{
    font-size: 16px;
    color: var(--footer-text-color);
    font-weight: 400;
}

.footer .right-side{
    width: calc( (100% - 30px) / ( 8 / 5) );
}

.footer .list .col{
    gap: 45px;
    flex-wrap: wrap;
}

.footer .list h2{
    font-size: 22px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.footer .list ul{
    display: flex;
    flex-direction: column;
    gap: 23.32px;
}

.footer .list li a{
    color: var(--footer-text-color);
}

@media screen and (min-width:0) and (max-width:1200px) {

    .btn{
        padding: 10px 20px;
    }

    .footer .left-side{
        width: 100%;
    }

    .footer .right-side{
        width: 100%;
    }

    .footer .left-side form input{
        padding: 7px 10px;
    }

    .footer .left-side form input{
        width: fit-content;
    }

    .footer .list{
        gap: 30px;
    }

}

/*End Footer*/
